{% extends "base.html" %}

{% block body %}
<div class="row">
    <div class="one-half column" style="margin-top: 25%">
        <h4>Welcome to jamhop</h4>
        <form action="" method="post">
          <div class="row">
            <div class="twelve columns">
              <label for="usernameInput">Your LastFM username</label>
              <input class="u-full-width" type="text" placeholder="J_Roche" id="usernameInput" name="username">
            </div>
          </div>
          <input class="button-primary" type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock %}